/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

$lineHeightForNav: 70px;
$lineHeightForSearch: 50px;


header.menu {

    // ...
    width: 100%;
    position: relative;
    z-index: 10;

    div.menu-container {
        width: 100%;
        background-color: black;
        padding: 0 20px;
        text-align: left;
        
        div.menu-holder {
            position: relative;
            width: 100%;
            max-width: $siteWidth;
            margin: 0 auto;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: $lineHeightForNav;
            color: white;
            text-align: left;
            display: inline-block;
        }
        nav {
            display: inline-block;
            margin-left: 60px;

            i { 
                color: white; 
                font-size: 30px;
                line-height: $lineHeightForNav;
            }
            i.search {
                position: absolute;
                right: 10px;
                top: 0;
            }

            a.nav-item {
                font-family: Helvetica, Arial, Sans-Serif;
                font-size: 17px;
                line-height: $lineHeightForNav;
                text-transform: uppercase;
                text-decoration: none;
                white-space: nowrap;
                border-bottom: 1px solid transparent;
                color: #FFF;
                margin-right: 20px;
            }
        }
    }

    div.search-container {
        position: absolute; background-color: white; z-index: 20; box-shadow: 0 0 10px rgba(0,0,0,0.1); width: 100%; padding: 5px; background-color: white; border-bottom: 1px solid #CCC; display: none;
        &.showing { display: block; }
        
        input[type='text'] {min-width: 100%; font-size: 36px; line-height: $lineHeightForSearch; border: 1px solid #CCC; padding: 0 10px; }
        i.close {position: absolute; right: 10px; top: 5px; font-size: 36px; line-height: $lineHeightForSearch; }
        .search-results-container {
            padding: 16px 8px;margin: 0 -4px;
            .header {display: flex; border-bottom: 1px solid #ccc; padding: 8px 0;
               span {flex:1;} 
               a.show-all {text-align:right;}
            }
            .results {display: flex;padding: 8px 0;}
        }
    }
    
    .product {
        flex-basis: 250px;
        &:first-child, &:last-child{margin:0;}
        display:flex;padding: 8px; margin: 0 32px;
        img {width: 100%; height: auto;}
        div {flex:1;}
        div.img-container {margin-right: 12px;}
        .name{font-weight: bold;}
        .about {max-height: 8em; overflow:hidden;text-overflow:ellipsis;}
    }

}